################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Maintenance_Scheduling_System/Uploads
/Maintenance_Scheduling_System/Uploads/60e7103d-d10a-4a3b-be2b-df38135c1c0f_Students.xlsx
/Maintenance_Scheduling_System/Uploads/c93df28a-cc86-4036-9893-44612e4398b6_Equipment Maintenance & Scheduling Portal.pdf
/Maintenance_Scheduling_System.Application/Setting
